<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Mocchy2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'master' %>
    <%= stylesheet_link_tag    'unit' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'master' %>
    <%= javascript_include_tag 'slide-show' %>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <!-- <link rel="stylesheet" href="../../テンプレート/master.css" />
    <link rel="stylesheet" href="../../テンプレート/unit.css" /> -->
    <title>Mocchy</title>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
